<a href="https://colab.research.google.com/github/MinSeongKim2/data-structure-lab/blob/master/ds_lec03_algorithm_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

> ### Data Structures & Programming Basics

# Lecture03: Algorithm Analysis

##1. Insertion and Time

In [1]:
def contains(bag, e) :
    return e in bag

def insert(bag, e) :
    bag.append(e)

def insert_first(bag, e) :
    bag.insert(0, e)

def remove(bag, e) :
    bag.remove(e)

def count(bag):
    return len(bag)

In [3]:
myBag = []
insert(myBag, '휴대폰')
insert(myBag, '지갑')
insert(myBag, '손수건')
insert(myBag, '빗')
insert(myBag, '자료구조')
insert(myBag, '야구공')
print('가방속의 물건:', myBag)

insert(myBag, '빗')
remove(myBag, '손수건')
print('가방속의 물건:', myBag)

가방속의 물건: ['휴대폰', '지갑', '손수건', '빗', '자료구조', '야구공']
가방속의 물건: ['휴대폰', '지갑', '빗', '자료구조', '야구공', '빗']

### Time module

In [4]:
import time

myBag = []
start = time.time()
for i in range(10000):
    insert_first(myBag, '펜')
end = time.time()

In [ ]:
start

1649766744.8884594

In [ ]:
end

1649766744.901425

In [5]:
print("running time : %10.7f seconds" % (end - start))

running time :  0.0286317 seconds

In [6]:
myBag = []
start = time.time()
for i in range(10000):
    insert(myBag, '펜')
end = time.time()

In [8]:
start

1711506192.5852637

In [9]:
end

1711506192.5939786

In [10]:
print("running time : %10.7f seconds" % (end - start))

running time :  0.0087149 seconds


## 2. What Is Algorithm Analysis?

* 1~n까지의 Sum을 구하는 함수

In [11]:
def sum_of_n(n):
    the_sum = 0
    for i in range(1,n+1):
        the_sum = the_sum + i
    return the_sum

In [12]:
print(sum_of_n(10))

55

* 같은 기능을 수행하는 함수이지만 이해하기 어려운 변수명, 추가적인 할당

In [13]:
def foo(tom):
    fred = 0
    for bill in range(1, tom+1):
        barney = bill
        fred = fred + barney
    return fred

In [14]:
print(foo(10))

55

In [15]:
import time

def sum_of_n_2(n):
    start = time.time()
    the_sum = 0

    for i in range(1, n+1):
        the_sum = the_sum + i
    end = time.time()

    return the_sum, end - start

In [16]:
for i in range(5):
    print("Sum is %d required %10.7f seconds" % sum_of_n_2(10000))

Sum is 50005000 required  0.0006351 seconds
Sum is 50005000 required  0.0006452 seconds
Sum is 50005000 required  0.0006318 seconds
Sum is 50005000 required  0.0006189 seconds
Sum is 50005000 required  0.0006161 seconds

In [17]:
for i in range(5):
    print("Sum is %d required %10.7f seconds" % sum_of_n_2(1000000))

Sum is 500000500000 required  0.0857258 seconds
Sum is 500000500000 required  0.0656333 seconds
Sum is 500000500000 required  0.0703256 seconds
Sum is 500000500000 required  0.0703807 seconds
Sum is 500000500000 required  0.0704730 seconds

In [18]:
def sum_of_n_3(n):
    return (n * (n + 1)) / 2

In [19]:
print(sum_of_n_3(10))

55.0

In [20]:
def sum_of_n_3(n):
    start = time.time()
    the_sum = (n * (n + 1)) / 2
    end = time.time()

    return the_sum, end - start

In [21]:
for i in range(5):
    print("Sum is %d required %10.7f seconds" % sum_of_n_3(10000 * (10 ** (i+1))))

Sum is 5000050000 required  0.0000014 seconds
Sum is 500000500000 required  0.0000017 seconds
Sum is 50000005000000 required  0.0000012 seconds
Sum is 5000000050000000 required  0.0000019 seconds
Sum is 500000000500000000 required  0.0000014 seconds

## 3. Big-$\mathcal{O}$ Notation

###p.23 Example

In [22]:
def sum_quad(n):
    partialSum = 0
    for i in range(n):
        partialSum += i*i*i
    return partialSum

In [23]:
sum_quad(5)

100

### Rule 2

In [24]:
N = 100
M = 40
k = 0
for i in range(N):
    for j in range(M):
        k += 1

print(k)

4000

### Rule 3

In [25]:
N = 100
M = 40
k = 0
for i in range(N):
    for j in range(N):
        k = i + j
for i in range(M):
    k += i

print(k)

978

### Rule 4

In [26]:
score = [50, 29, 59, 80, 99, 100]

if len(score) > 5:
    for i in score:
        print("score : %d" % i)
else:
    print("not enough scores")

score : 50
score : 29
score : 59
score : 80
score : 99
score : 100

### p.31 순환 Recursive

* factorial

In [27]:
def factorial(n):
    if n==1:
        return 1
    else:
        return n*factorial(n-1)

In [28]:
print(factorial(10))

3628800

In [29]:
def factorial2(n):
    result = 1
    for k in range(n,0,-1):
        result = result * k
    return result

In [30]:
print(factorial2(10))

3628800

* 거듭제곱

In [31]:
import math as m

In [32]:
m.pow(2,3)

8.0

In [33]:
def power_iter(x,n):
    result = 1.0
    for i in range(n):
        result = result * x
    return result

In [ ]:
print(power_iter(2,3))

8.0

In [35]:
def power_recur(x,n):
  if n == 0 :
      return 1

  elif (n % 2) == 0:
      return power_recur(x*x, n//2)

  else :
      return x*power_recur(x*x, (n-1)//2)

In [36]:
print(power_recur(2,3))

8

* p.36 피보나치 수열

In [ ]:
import time

In [ ]:
def fib(n):
    if n == 0:
        return 0
    elif n == 1 or n == 2:
        return 1
    else:
        return fib(n - 1) + fib(n - 2)

n = int(input("숫자를 입력하세요."))

start = time.time()
print(fib(n))
end = time.time()

55

In [ ]:
start

1650347906.8174057

In [ ]:
end

1650347906.8174057

In [ ]:
print("running time : %10.7f seconds" % (end - start))

running time :  0.0000000 seconds

In [ ]:
def fib_iter(n):
    if (n < 2):
        return n
    last = 0
    current = 1
    for i in range(2, n+1):
        tmp = current
        current += last
        last = tmp
    return current

n = int(input("숫자를 입력하세요."))
start = time.time()
print(fib_iter(n))
end = time.time()

6765

In [ ]:
start

1650347934.4749465

In [ ]:
end

1650347934.4749465

In [ ]:
print("running time : %10.7f seconds" % (end - start))

running time :  0.0000000 seconds